*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 1460px;
}
/* .main-page{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}
.parallax-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}
.parallax-section_1::before {
    background-image: url(../img/news-bg.jpeg);
}

.parallax-section_2::before {
    background-image: url(../img/clients-bg.jpeg);
}

.parallax-section_3::before {
    background-image: url(../img/background.png);
} */
.header{
    display: flex;
    padding-top: 37px;
    justify-content: space-between;
    align-items: center;
}
.header-number-button{
    display: flex;
}
.header-number{
    margin-right: 40px;
}
.header-button{
    padding: 18px 26px;
    border: 1px solid #E4B564;
}
.header-button-icon{
margin-right: 10px;
}
.header-button-text{
    text-decoration: none;
    font-family:'Gilam';
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}
.main-article{
    background-image: url(../img/clients-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed
}
.projects,
.machines,
.clients{
    color: #FFFFFF;
}
.projects-title {
    padding-top: 120px;
    font-family:'Gilam';
    font-weight: bold;
    font-size: 50px;
}
.projects-text {
    padding-top: 40px;
    font-family: 'Gilam';
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
.projects-grid {
    display: grid;
    padding-top: 40px;
    grid-template-columns:repeat(4, 1fr);
    gap: 30px;
    font-family: 'Gilam';
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
.projects-grid-item1 {
    padding: 206px 0;
    width: 467px;
    text-align: center;
    justify-self: center;
    background-color: #634F2C;
}
.projects-grid-item2 {
    padding: 206px 0;
    grid-area: 1/2/2/4;
    width: 467px;
    text-align: center;
    justify-self: center;
    background-color: #B4A385;
}
.projects-grid-item3 {
    padding: 206px 0;
    grid-area: 1/4/2/5;
    width: 467px;
    text-align: center;
    justify-self: center;
    background-color: #E4B564;
}
.projects-grid-item4 {
    padding: 206px 0;
    grid-area: 2/1/3/3;
    width: 715px;
    text-align: center;
    justify-self: center;
    background-color: #635A4A;
}
.projects-grid-item5 {
    padding: 206px 0;
    grid-area:2/3/3/5;
    width: 715px;
    text-align: center;
    justify-self: center;
    background-color: #B08C4D;
}
.machines {
    padding-bottom: 190px;
}
.machines-title {
    padding-top: 160px;
    font-family:'Gilam';
    font-weight: bold;
    font-size: 50px;
    
}
.machines-content {
    padding-top: 94px;
    height: 1000px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:'Gilam';
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    
}
.machines-content-item1,
.machines-content-item2,
.machines-content-item3,
.machines-content-item4,
.machines-content-item5,
.machines-content-item6,
.machines-content-item7 {
    width: 467px;
    padding: 44px 0 0 52px;
}
.machines-content-item1{
    padding-bottom:220px;
    background-color:#0E0E0E ;
}
.machines-content-item2{
    padding-bottom: 480px;
    background-color: #1F1F1F;
}
.machines-content-item3{
    padding-bottom: 345px;
    background-color: #242424;
}
.machines-content-item4{
    padding-bottom: 332px;
    background-color: #E4B564;
}
.machines-content-item5{
    padding-bottom: 186px;
    background-color: #1F1F1F;
}
.machines-content-item6{
    padding-bottom: 244px;
    background-color: #0E0E0E;
}
.machines-content-item7{
    padding-bottom: 208px;
    background-color: #0A0909;
}
.bold-text {
    font-weight: bold;
}
.clients {
    background-image: url(../img/news-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}
.clients-header {
    display: flex;
    padding-top: 160px;
    align-items: center;
    justify-content: space-between;
}
.clients-title {
    font-family: 'Gilam';
    font-weight: bold;
    font-size: 50px;
}
.clients-button {
    padding: 10px 40px;
    text-decoration: none;
    font-family: 'Circe';
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    background-color: rgba(0,0,0, 0.25);
}
.clients-grid {
    display: grid;
    padding-top: 72px;
    padding-bottom: 240px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 391px 391px;
}
.clients-grid-item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #634F2C;

}
.clients-grid-item2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Gilam';
    font-size: 22px;
    line-height: 28px;
    background-color: #E8D2ABC2;

}
.clients-grid-item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4B564;

}
.clients-grid-item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #635A4A;

}
.clients-grid-item5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B08C4D;

}
.clients-grid-item6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #634F2C;

}
