.header {
    position: relative;
}
.container{
    margin: 55px auto 0;
    width: 1400px;
}
.header_wrap {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
}
.menu_bar {
    display: flex;
    
}
.menu_bar_item{

}
.menu_bar_link {
}
.hero_wrap {
}
.hero {
}
.what_wrap {
}
.section_title {
}
.conpanies_wrap {
}
.sub_title {
}
.white_text {
}
.conpanies_greed {
}
.conpanies_greed_item {
}
.meet_us_wrap {
}
.meet_us_flex {
}
.flex_item {
}
.flex_item_img {
}
.flex_item_text {
}
.testimonials_wrap {
}
.testimonials_thesis {
}
.testimonials_signature {
}
.why_wrap {
}
.footer_text {
}
.text_bold {
}
