*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Arimo ;
    color: #484848;
}
body{
    background-color:#3A4965;
}
.header-slogan {
   padding: 50px 35px;
   font-size: 18px;
   line-height: 28px;
   vertical-align: middle;

}
.header-title {
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
}
.header-big-text {
    font-weight: bold;
    font-size: 30px;
}
.tbody-text td{
    padding: 28px 0;
    vertical-align: middle;
}
.tbody-main-column{
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-color {
    background-color: #89C331;
}
.white-text {
    color: #FFFFFF;
}
.red-color {
    background-color: #F04A56;
}
.blue-color {
    background-color: #20807C;
}
.border-left {
    border-left: 1px solid #484848;
}
.headder-price {
    display:flex;
    margin: 12px auto;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}
.header-price-lage{
    display: inline-block;
    font-weight: bold;
    font-size: 60px;
    text-align: left;

}
.header-price-box{
    display: flex;
    margin-bottom: 14px;
    flex-direction: column;
    /* margin-top: -10px; */
    text-align: left;
    margin-bottom: 12px;
}
.header-price-coins {
    /* margin-bottom: -10px; */
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.header-price-text {
    font-size: 18px;
    line-height: 28px;
}
.backgraund-color-light-white{
    background-color: #FAFAFA;
}
.backgraund-color-light-grey {
    background-color: #F2F2F2;
}
.backgraund-color-dark-grey {
    background-color: #E3E3E3;
}
.batton {
    display: inline-block;
    margin: 18px 40px;
    padding: 18px 58px;
    text-decoration: none;
    border-radius: 5px;
}
.main-colum-button{

}
.main-color {
    background-color: #484848;
}