*{
    margin: 0;
    padding: 0;
} 
.container {
    /* border: 0.1px solid red; */
    width: 1280px;
    margin: 0 auto;
    
}
.header-menu {
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    margin: 25.5px auto;
    /* padding: 25.5px 0; */
    
}
.header-menu-link {
    text-decoration: none;
    color: #FF0000;
}
.header-menu li:nth-child(2){
    /* padding-left: 72px; */
    margin-left: 72px;
}
.header-menu li:nth-child(3){
    /* padding-left: 72px; */
    margin-left: 72px;
}
.header-menu li:nth-child(4){
    /* padding-left: 50px; */
    margin-left: 50px;
}
.header-menu-list {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
}
/* .backgrountimg-fullscreen{
    background-image: url(../images/background.png);
    height: 789px;
    background-repeat: no-repeat;
    background-size: cover;
} */
/* .backgrountimg {
    background-image: url(../images/background.png);
    height: 789px;
    background-repeat: no-repeat;
    background-size: cover;
} */
.text-title {
    display: block;
    margin: 49px auto 10px;
    width: 774px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}
.container-text{
    width: 1145px;
    display: block;
    margin: 0 auto;
     /* border: 1px solid rgb(0, 200, 255); */
}
.text {
    text-align: center;
    font-family:'Montserrat';
    font-size: 16px;
    line-height: 26px;
    padding-top: 28px;
    letter-spacing: 2.4px;
    color: #373737;
}
.button {
    text-align: center;
    display: block;
    margin: 66px auto 0;
    padding: 18px 43.5px 17px 42.5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Montserrat';
    font-size: 12px;
    letter-spacing: 1.8px;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    background: #FF0000;
    cursor: pointer;
}
.footer-title {
    text-align: right;
    vertical-align: middle;
    align-items: center;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
    /* height: 39px; */
    font-family:'Montserrat';
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    color: #373737;
}
