.container{
    margin: 0 auto;
    width:1030px;
}
.header {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
}
.logo_img{
    margin-right: 10px;
    width: 53px;
    height: 47px;
    background: url(../img/logo_img_sprites.png);
    background-position: 0 49px;
}
.logo_img:hover{
    background-position: 0 0;
}
.logo_text {
    display: flex;
    flex-direction: column;
    
}
.logo-title {
    text-decoration: none;
    color: #FFFFFF;
    font-family:'Roboto';
    font-weight: bold;
    font-size: 29px;

}
.logo-title:hover {
    color:#F26522;
}
.logo-subtitle {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px; 
    color: #FFFFFF;
}
.logo-subtitle:hover {
    color:#F26522;
}
.active {
    display: flex;
    flex-direction: column;
}
.email {
    text-align: right;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
}
.email:hover {
    color:#F26522;
}
.tel {
    margin-top: 19px;
    text-align: right;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
}
.tel:hover {
    color:#F26522;
}
.background_color{
    background: url(../img/background.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.content {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 37px;
}
.content_item {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.content_img {
    width: 300px;
    height: 220px;
}
.content_text {
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
}
.content_text:hover{
    color:#F26522;
}
.content_active{
    padding:0 16px;
    background-color: #F26522;
    font-family: 'Roboto';
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -60px;
    right: 0;
    transition: 1s;
}
.content_item:hover
.content_active{
    bottom: 0px;
}
.content_active_headline{
    padding-top: 8px;
    font-size: 10px;
}
.content_active_main {
    padding-top: 8px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_active_price {
    font-size: 20px;
}
.content_active_link {
    text-decoration: none;
    color: #FFFFFF;
}
.content_active_text::after{
    content: url(../img/Vector\ 1.svg);
    margin-left: 16px;
}
.content_active_arrow {

}
.footer {
    margin-top: 49px;
    margin-bottom: 15px;
}
.copyright {
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    color: #FFFFFF;
}
