*{
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1280px;
}
.logo-wrap{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}
.logo-wrap .bg_moon{
    /* display: none; */
    cursor: pointer;
}
.logo-wrap .bg_sun{
    display: none;
    cursor: pointer;
}
svg path{
    pointer-events: none;
}
.link{
    text-decoration: none;
}
.header-link {
    display:inline-block;
    margin-top: 63px;
    padding: 0;
    font-size: 80px;
    font-family: Roboto;
}
.light-blue {
    color: #4BCAFF;
}
.header-nav-list {
    display: flex;
    margin-top: 38px;
    justify-content: center;
    background-color: #35444F;
    align-items: center;
}
.header-nav-list-item {
    display: inline-block;
    padding: 26px 40px 19px;
    border-left: 1px solid #FFFFFF;
    transition: 1s;
}
.header-nav-list li:last-child {
    border-right: 1px solid #FFFFFF;
}
.header-nav-list-item:hover{
background-color: #222F3A;
}
.header-nav-list-link {

    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.main {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    align-items: start;
}
.asaide-nav {
    display: flex;
    width: 344px;
    flex-direction: column;
    border: #000000 solid 1px;
}
.asaide-nav-link {
    display: inline-block;
    padding: 26px 0 26px 38px;
    font-size: 28px;
    font-family: Roboto;
    color: #485863;
    transition: 1s;
}
.asaide-nav-link:hover{
    padding-left: 60px;
    font-weight: bold;
    color: #35444F;
    background-color: rgba(99, 105, 110, 0.48);
}
.info {
    width: 885px;
}
.info-hero {
    display: flex;
    height: 529px;
    justify-content: center;
    align-items: center;
    border: #000000 solid 1px;
}
.info-hero-logo {
    transition: 1s;
}
.info-hero-logo:hover{
    transform: scale(1.4);
    
}
.info-text {
    margin-top: 34px;
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto;
    color: #2C2C2C;
}
.info :nth-child(2){
    margin-top: 37px;
}
.footer {
    margin-top: 54px;
    background-color: #63696E;
}
.footer-menu{
    display: flex;
    padding: 20px 40px;
    
    justify-content:space-between;
    align-items: center;
}
.footer-menu-list {
    display: flex;
    width: 875px;
    justify-content:space-between;
}
.footer-menu-list-item {
    display: inline-block;
    
}
.footer-menu-list-link {
    font-size: 28px;
    font-family: Roboto;
    color: #0C1927;
    transition: 1s;
}
.footer-menu-list-item :hover{
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
}
.footer-menu-copyright {
    display: inline-block;
    font-size: 24px;
    font-family: Roboto;
    color: #010101;
}
