body{
    font-family: 'Montserrat';
    box-sizing: border-box;
}


/* header */


.header_wrap {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(94, 93, 88, 0.6);
}
.container{
    margin: 0 auto;
    width: 1160px;
}
.header {
    padding: 26px 0 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    cursor: pointer;
}
.header .bar {
    display: flex;
    align-items: center;
    column-gap: 21px;
    
}
.bar .bar__item {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: 1s;
}

.bar .bar__item:last-child{
    height: 20px;
    width: 20px;
    background:url(../img/header/Search\ icon\ 1.png);
}
.bar .bar__item::after{
    content: '';
    position: absolute;
    bottom: -74px;
    left:0;
    height: 3px;
    width: 100%;
}
.bar .bar__item:hover{
    color:rgba(24, 207, 171, 1);
}
.bar .bar__item:not(:last-child):hover::after{
    background-color:rgba(24, 207, 171, 1);
}


/* hero */


.hero_wrap {
    position: relative;
    z-index: -1;
    background-image:url(../img/hero/hero\ section-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hero {
    padding-top: 380px;
    display: flex;
    flex-direction: column;
    
}
.hero__title {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.text_emerald {
    color: rgba(24, 207, 171, 1);
}
.hero__subTitle {
    padding-top: 22px;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.hero__text {
    padding-top: 22px;
    font-size: 34px;
    text-align: center;
    color: rgba(212, 212, 212, 1);
}
.buttons-block {
    margin: 0 auto;
    padding: 128px 0 248px;
    display: flex;
    padding-top: 130px;
    column-gap: 26px;
}
.buttons-block__button_wrap {
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}
.buttons-block__button {
    position: relative;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border-style: none;
    transition: 1s;
    cursor: pointer;
}
.buttons-block__button_wrap:first-child .buttons-block__button{
    padding: 16px 17px;
    background-color: rgba(24, 207, 171, 1);
}
.buttons-block__button_wrap:last-child .buttons-block__button{
    padding: 16px 11px;
    background-color: rgba(0, 203, 246, 1);
}
.buttons-block__button:hover{
    top: 5px;
}


/* flex-bar */


.flex-bar {
    margin: 6px 0 6px;
    display: flex;
    flex-direction: row;
}
.flex-bar__item{
    padding: 95px 0 110px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 48px;
    transition: 1s;
    background-color: rgba(28, 42, 51, 1);
}

.flex-bar__item:nth-child(even){
    background-color: rgba(24, 207, 171, 1);
}

.flex-bar__img{
    content: 'url(../img/flex-bar/flex-bar_img1\ hover.png)';
    position: relative;
}
.flex-bar__text{
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align:center;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 1);
}


/* services */


.services{
    padding-top: 86px;
    
}
.title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: rgba(78, 78, 78, 1);
}
.underline-wrap{
    display: flex;
    justify-content: center;
}
.underline {
    margin-top: 26px;
    height: 2px;
    width: 75px;
    position: relative;
    right: 5px;
    background-color:rgba(24, 207, 171, 1);
}
.underline::after{
    content: '';
    display: block;
    height: 2px;
    width: 75px;
    position: relative;
    top: 5px;
    left: 5px;
    background-color:rgba(24, 207, 171, 1);
}
.tabs {
    margin-top: 70px;
}
.tabs .tabs__header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.tabs .tabs__header button{
    display: block;
    padding: 16px 0 16px;
    font-size: 16px;
    line-height: 39px;
    border:rgba(255, 255, 255, 1) solid 2px;
    outline: none;
    color: rgba(113, 113, 113, 1);
    background-color: rgba(255, 255, 255, 1);
    transition: 1s;
}
.tabs .tabs__header .active{
    border: rgba(24, 207, 171, 1) solid 2px;
}
.tabs .tabs__header button:hover{
    border: rgba(24, 207, 171, 1) solid 2px;
    cursor: pointer;
}
.tabs .tabs__content {
    margin: 24px 0 90px;

}
.tabs .tabs__content div{
    column-gap: 15px;
}
.tabs__img {
    width: 192px;
    height: 140px;
}
.tabs__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 119, 119, 1);
}
.tabs__content .active{
    display: flex;  

}
.tabs__item {
    display: none;
}


/* purchase */


.purchase-wrap {
    position: relative;
    background: url(../img/purchase/section-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.shadow{
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.purchase {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.purchase__title {
    padding-top: 126px;
    font-weight: bold; 
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(24, 207, 171, 1);
}
.purchase__text {
    padding-top: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: rgba(216, 216, 216, 1);
}
.purchase__button-wrap {
    margin: 62px 0 130px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    cursor: pointer;
}
.purchase__button {
    padding: 16px 11px;
    position: relative;
    top: 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(24, 207, 171, 1);
}

.purchase__button-wrap:hover .purchase__button{
    top: 5px;
}


/* work */


.work-wrap {
    background-color: rgba(233, 237, 239, 1);
}
.work {
    padding: 96px 0 100px;
}
.work__header {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work__header button{
    padding: 14px 15px; 
    font-size: 14px;
    line-height: 42px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(218, 218, 218, 1) solid 1px;
    outline: none;
    color: rgba(113, 113, 113, 1);
    cursor: pointer;
}
.work__header button:first-child{
    padding: 14px 28px; 
}
.works__flex-box {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}
.works__flex-box > div{
    width: 25%;
    overflow: hidden;
    position: relative;
}
.works__flex-box img{
    height: 100%;
    width: 100%;
}
.works__item_hover {
    position: absolute;
    left: 0;
    top: 225px;
    right: 0;
    bottom: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #18CFAB 2px solid;
    background-color: rgba(233, 237, 239, 1);
    z-index: 1;
    transition: 1s;
}
.works__flex-box div:hover .works__item_hover{
    top: 0;
}
.works__flex-box .hover__buttons {
    display: flex;
    column-gap: 3px;
    align-items: center;
}
.works__flex-box .hover__button:first-child {
    padding:20px; 
    border: rgba(24, 207, 171, 1) 1px solid;
    border-radius: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.9131 2.72817L12.0948 0.891285C11.2902 0.0808612 9.98305 0.0759142 9.17681 0.882615L7.15921 2.89256C6.35161 3.69885 6.34818 5.01032 7.15051 5.82074L8.30352 4.68897C8.18678 4.32836 8.33041 3.9153 8.61593 3.62946L9.89949 2.35187C10.3061 1.94624 10.9584 1.94913 11.3595 2.35434L12.4513 3.45805C12.8528 3.86283 12.8511 4.51713 12.447 4.92318L11.1634 6.20241C10.8918 6.47296 10.4461 6.62168 10.1002 6.52626L8.97094 7.65887C9.77453 8.47177 11.0803 8.47466 11.8889 7.66837L13.9039 5.65924C14.7141 4.85254 14.7167 3.53983 13.9131 2.72817ZM6.52613 10.0918C6.62191 10.4441 6.46857 10.8997 6.19093 11.1777L4.99227 12.3752C4.58074 12.7845 3.91595 12.7833 3.50671 12.369L2.39297 11.2475C1.98465 10.8349 1.98729 10.1633 2.39824 9.75473L3.59804 8.55769C3.89032 8.26607 4.31044 8.12025 4.67711 8.24375L5.83354 7.0715C5.01493 6.2462 3.68249 6.24207 2.86059 7.06324L0.915197 9.0042C0.0922615 9.8266 0.0883685 11.1629 0.90651 11.9886L2.75817 13.8618C3.57595 14.6846 4.90724 14.6912 5.73111 13.8701L7.67649 11.9287C8.49852 11.1054 8.5024 9.77166 7.68553 8.9443L6.52613 10.0918ZM6.25787 9.56307C5.98013 9.84189 5.53427 9.84105 5.26179 9.55812C4.98792 9.27434 4.9901 8.82039 5.26613 8.53993L8.59075 5.16109C8.86679 4.88227 9.31174 4.88311 9.58513 5.16398C9.86048 5.44569 9.85876 5.90088 9.5817 6.18299L6.25787 9.56307Z' fill='%231FDAB5'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 1s;
}
.works__flex-box .hover__button:last-child {
    padding:20px; 
    border: rgba(24, 207, 171, 1) 1px solid;
    border-radius: 20px;
    background-color: rgba(24, 207, 171, 1);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='11' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 1s;
}
.works__flex-box .hover__button:first-child:hover{
    background-color: rgba(24, 207, 171, 1);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.9131 2.72817L12.0948 0.891285C11.2902 0.0808612 9.98305 0.0759142 9.17681 0.882615L7.15921 2.89256C6.35161 3.69885 6.34818 5.01032 7.15051 5.82074L8.30352 4.68897C8.18678 4.32836 8.33041 3.9153 8.61593 3.62946L9.89949 2.35187C10.3061 1.94624 10.9584 1.94913 11.3595 2.35434L12.4513 3.45805C12.8528 3.86283 12.8511 4.51713 12.447 4.92318L11.1634 6.20241C10.8918 6.47296 10.4461 6.62168 10.1002 6.52626L8.97094 7.65887C9.77453 8.47177 11.0803 8.47466 11.8889 7.66837L13.9039 5.65924C14.7141 4.85254 14.7167 3.53983 13.9131 2.72817ZM6.52613 10.0918C6.62191 10.4441 6.46857 10.8997 6.19093 11.1777L4.99227 12.3752C4.58074 12.7845 3.91595 12.7833 3.50671 12.369L2.39297 11.2475C1.98465 10.8349 1.98729 10.1633 2.39824 9.75473L3.59804 8.55769C3.89032 8.26607 4.31044 8.12025 4.67711 8.24375L5.83354 7.0715C5.01493 6.2462 3.68249 6.24207 2.86059 7.06324L0.915197 9.0042C0.0922615 9.8266 0.0883685 11.1629 0.90651 11.9886L2.75817 13.8618C3.57595 14.6846 4.90724 14.6912 5.73111 13.8701L7.67649 11.9287C8.49852 11.1054 8.5024 9.77166 7.68553 8.9443L6.52613 10.0918ZM6.25787 9.56307C5.98013 9.84189 5.53427 9.84105 5.26179 9.55812C4.98792 9.27434 4.9901 8.82039 5.26613 8.53993L8.59075 5.16109C8.86679 4.88227 9.31174 4.88311 9.58513 5.16398C9.86048 5.44569 9.85876 5.90088 9.5817 6.18299L6.25787 9.56307Z' fill='white'/%3E%3C/svg%3E");

}
.works__flex-box .hover__button:last-child:hover{
    background-color: rgba(233, 237, 239, 1);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='11' fill='%231FDAB5'/%3E%3C/svg%3E%0A");
}

.works__flex-box .hover__title {
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #18CFAB;
}
.works__flex-box .hover__subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px; 
    color: #8A8A8A;
}
.button_wrap{
    display: flex;
    justify-content: center;
    align-items: center;

}
.work__button {
    margin-top: 70px;
    padding: 22px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    border:none;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
    font-size: 14px;
    /* line-height: 42px; */
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(24, 207, 171, 1);
    cursor: pointer;
}
.work__header .active{
    border:rgba(24, 207, 171, 1) solid 3px;
}


/* news */


.news-wrap {
}
.news {
    padding: 82px 0 128px;
}
.title {
    font-size: 36px;
    line-height: 40px;
    color: rgba(78, 78, 78, 1);
}
.news__grid-box {
    margin-top: 70px;   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
    row-gap: 44px;
}
.news__grid-item {
    position: relative;
    cursor: pointer;
}
.news__img {
    width: 100%;
}
.news__date {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(32, 62, 56, 1);
    transition: 1s;
}
.news__title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color:rgba(113, 113, 113, 1);
    transition: 1s;
}
.news__modal-box {
    margin-left: 10px;
    display: flex;
    column-gap: 20px;
}
.news__modal-box_text {
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color:rgba(119, 119, 119, 1);
}
.news__modal-box_text:first-child::after{
    content: '';
    position: absolute;
    right: -12px;
    top: 12px;
    width: 1px;
    height: 40%;
    background-color:rgba(119, 119, 119, 1);
}

.news__grid-item:hover .news__title{
    color: rgba(24, 207, 171, 1);
}
.news__grid-item:hover .news__date{
    background-color: rgba(24, 207, 171, 1);
}



/* clients */


.clients-wrap {
    position: relative;
    background-image: url(../img/clienst/clienst\ section-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.clients {
    position: relative;
    padding-top: 100px;
    padding-bottom: 104px;
    z-index: 2;
}
.clients .title {
    font-size: 36px;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
}
.clients__text {
    margin-top: 140px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: rgba(187, 187, 187, 1);
}
.clients__text::before{
    content: url(../img/clienst/clients\ simbol.png);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}
.clients_name{
    margin-top: 40px;
}
.clients__content {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients_name{
    margin: 35px 0 20px;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;

}
.clients_profesion{
    margin-bottom: 40px;
    color: #BBBBBB;
    font-size: 16px;
    line-height: 27px;
}
.clients__photos_big > img {
    height: 140px;
    width: 140px;
    border: rgba(24, 207, 171, 0.2) 10px solid;
    border-radius: 80px;
    cursor: pointer;
}
.thumbs-slider{
    width: 580px;
	box-sizing: border-box;
	padding: 15px 0;
}
.thumbs-slider .swiper-wrapper{
    display: flex;
    justify-content: center;
}
.thumbs-slider .swiper-wrapper { 
    display: flex; 
    justify-content: center; 
}
.thumbs-slider .swiper-slide {
    /* !important */
	width: 70px ; 
	border-radius: 50%;
	height: 100%;
	opacity: 0.4;
	cursor: pointer;
}
.thumbs-slider .swiper-slide-thumb-active {
	position: relative;
	top: -15px;
	opacity: 1;
}
.thumbs-slider .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 4px solid rgba(24, 207, 171, 0.2);
	box-sizing: border-box;
	object-fit: cover;
}
.thumbs-slider .swiper-button-next,
.thumbs-slider .swiper-button-prev {
	width: 34px;
	height: 34px;
	color: #fff;
    border: #fff 1px solid;
	cursor: pointer;
    transition: 0.5s;
}
.thumbs-slider .swiper-button-next:hover,
.thumbs-slider .swiper-button-prev:hover {
	background-color: #18CFAB;
}
.thumbs-slider .swiper-button-next:after,
.thumbs-slider .swiper-button-prev:after {
	font-size: 16px;
}


/* gallery */


.gallery-wrap {
}
.gallery {
    padding-top:95px;
    padding-bottom:65px;
}

.content {
    margin-top: 90px;
    display: flex;
    gap: 20px;
    
}
.content__column {
    display: flex;
    flex-direction:column;
    width: calc(100 / 3 * 1%);
    gap: 20px;
}
.small-pictures {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.small-pictures__items_2 {
    display: flex;
    gap: 2px;
}
.small-pictures__items_2 img{
    width: 50%;
}
.small-pictures__items_9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
}
.small-pictures__items_9 img{
    width: calc(100 / 3 * 1% - 2px);
}
.galery__button_wrap{
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.galery__button{
    padding: 22px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    border:none;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(24, 207, 171, 1);
    cursor: pointer;
}


/* footer */


.footer-wrap {
    background-color: rgba(34, 53, 63, 1);
}
.footer{
    padding: 48px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: rgba(174, 174, 174, 1);
}

